@charset "UTF-8";
body {
  font-family: "mplus-1p-regular (basic latin) Regular", "mplus-1p-regular (general-j) Regular", sans-serif;
}

img {
  width: 100%;
}

body {
  font-family: "Noto Sans JP";
  font-weight: normal;
  color: #333;
  line-height: 2;
  text-align: center;
  position: relative;
}
@media (max-width: 855px) {
  body.open {
    overflow: hidden;
  }
}

.inner {
  max-width: 940px;
  margin: 0 auto;
}
@media (max-width: 855px) {
  .inner {
    max-width: 280px;
  }
}

.footer-inner {
  max-width: 940px;
  margin: 0 auto;
}
@media (max-width: 855px) {
  .footer-inner {
    padding: 0 6%;
  }
}

.section-title {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  position: relative;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 26px;
  font-size: 1.625rem;
}

.heading::before {
  content: attr(data-en);
  position: absolute;
  transform: rotate(-13deg);
  top: -30px;
  left: -80px;
  color: #BA7000;
  opacity: 0.3;
  font-size: 32px;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}

.button {
  border: 1px solid #333;
  padding: 1em 2em;
  border-radius: 40px;
  font-size: 12px;
  font-size: 0.75rem;
}
.button a {
  display: block;
}
.button:hover {
  color: #fff;
  background-color: #6D3421;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (max-width: 855px) {
  .header {
    padding-left: 16px;
  }
}

.site-title {
  width: 69px;
}
.site-title:hover {
  opacity: 0.8;
}

.nav-menu {
  display: flex;
}
@media (max-width: 855px) {
  .nav-menu {
    flex-direction: column;
    color: #fff;
  }
}

.menu-list {
  margin-right: 16px;
}
.menu-list a {
  position: relative;
}
.menu-list a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #6D3421;
  bottom: -5px;
  transform: scale(0, 1);
  transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: transform 0.3s; /*変形の時間*/
}
.menu-list a:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
@media (max-width: 855px) {
  .menu-list {
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#drawer_toggle {
  display: none;
}

@media (max-width: 855px) {
  #global_nav {
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    background: #6D3421;
    /* 3. スライドメニューの場合 */
    right: -100%;
    transition: right 0.2s;
  }
  #global_nav.sp_open {
    right: 0;
    z-index: 100;
  }
  #drawer_toggle {
    z-index: 200;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
  }
  #drawer_toggle span {
    position: absolute;
    top: 29px;
    left: 17px;
    display: inline-block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    vertical-align: top;
  }
  #drawer_toggle span:nth-child(2) {
    margin-top: 10px;
  }
  #drawer_toggle span:last-child {
    margin-top: 20px;
  }
  #drawer_toggle.open span {
    top: 39px;
    left: 14px;
    width: 35px;
    margin: 0;
  }
  #drawer_toggle.open span:first-child {
    transform: rotate(45deg);
  }
  #drawer_toggle.open span:nth-child(2) {
    display: none;
  }
  #drawer_toggle.open span:last-child {
    transform: rotate(-45deg);
  }
}
.footer-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  padding-left: 48px;
}
@media (max-width: 855px) {
  .footer-cont {
    display: block;
    padding-left: 0;
  }
}

.logo {
  width: 85px;
}
.logo:hover {
  opacity: 0.8;
}

.sns-icon {
  width: 42px;
  margin-left: 32px;
  margin-right: 24px;
}
.sns-icon:hover {
  opacity: 0.8;
}

.footer-left {
  display: flex;
  align-items: center;
}
@media (max-width: 855px) {
  .footer-left {
    justify-content: center;
  }
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}
@media (max-width: 855px) {
  .footer-nav {
    text-align: center;
  }
}
.footer-nav .footer-nav-item {
  width: 30%;
  margin-left: 8px;
  padding-left: 16px;
}
@media (max-width: 855px) {
  .footer-nav .footer-nav-item:nth-child(odd) {
    width: 50%;
  }
}
@media (max-width: 855px) {
  .footer-nav .footer-nav-item:nth-child(even) {
    margin-left: 0;
    padding-left: 0;
  }
}
@media (max-width: 855px) {
  .footer-nav .footer-nav-item {
    width: 46%;
    border: none;
    font-size: 10px;
    font-size: 0.625rem;
    margin-top: 12px;
  }
}
.footer-nav .footer-nav-item:hover {
  opacity: 0.8;
}

.fv {
  background-image: url(../images/MVkey-visual.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
}
@media (max-width: 855px) {
  .fv {
    background-image: url(../images/mainvisual_mobile.jpg);
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 855px) {
  .section-padding {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media (max-width: 855px) {
  .about {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.about p {
  max-width: 680px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 56px;
  text-align: left;
  letter-spacing: 8px;
}

.news {
  background-color: rgba(230, 235, 0, 0.1);
}

.news-list {
  margin: 56px 0 38px;
  padding: 0;
}

.news-list .item a {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #CCC;
  padding: 20px 20px;
}
@media (max-width: 855px) {
  .news-list .item a {
    display: initial;
    border: none;
  }
}

.news-list .item:first-child a {
  border-top: 1px solid #CCC;
}
@media (max-width: 855px) {
  .news-list .item:first-child a {
    border: none;
  }
}

.news-list .item .date {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  padding: 0 20px 0 0;
}
@media (max-width: 855px) {
  .news-list .item .date {
    display: inline-block;
    font-size: 10px;
    font-size: 0.625rem;
  }
}

.news-list .item .category {
  margin: 0;
  min-width: 140px;
  padding: 0 20px 0 0;
}
@media (max-width: 855px) {
  .news-list .item .category {
    display: inline-block;
  }
}

.news-list .item .category span {
  background: rgba(250, 210, 152, 0.8);
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
  border-radius: 20px;
}
@media (max-width: 855px) {
  .news-list .item .category span {
    font-size: 8px;
    font-size: 0.5rem;
  }
}

.news-list .item .title {
  margin: 0;
  width: 100%;
}
@media (max-width: 855px) {
  .news-list .item .title {
    text-align: left;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.news-list .item a:hover .title {
  color: #4C4400;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .news-list .item a {
    flex-wrap: wrap;
  }
  .news-list .item .date {
    min-width: 100px;
  }
  .news-list .item .title {
    margin-top: 10px;
  }
}
.service .section-title {
  margin-bottom: 56px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 855px) {
  .service-list {
    flex-direction: column;
  }
}

.service-item {
  position: relative;
  display: block;
  width: 47%;
  margin-bottom: 56px;
  transition: transform 0.1s ease;
}
@media (max-width: 855px) {
  .service-item {
    width: 100%;
    margin-bottom: 32px;
  }
}
.service-item:hover {
  transform: scale(1.1);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em;
  border-radius: 20px;
}

.service-item p {
  color: #4C4400;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
}

.blog {
  background-color: rgba(230, 235, 0, 0.1);
}
.blog .section-title {
  margin-bottom: 56px;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 56px;
}
@media (max-width: 855px) {
  .blog-list {
    justify-content: center;
  }
}

.blog-card {
  display: flex;
  flex-direction: column;
  width: 260px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 855px) {
  .blog-card {
    margin-bottom: 32px;
  }
  .blog-card:last-child {
    margin-bottom: 0;
  }
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.blog-content {
  padding: 24px 16px 24px 12px;
  text-align: left;
}
.blog-content .button-container {
  text-align: right;
}

.blog-text {
  font-weight: bold;
  color: #4C4400;
  margin-bottom: 12px;
}

.page-top-view {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
}
@media (max-width: 855px) {
  .page-top-view {
    height: 240px;
    padding-top: 82px;
  }
}

.about-us_bg {
  background-image: url(/images/news.jpg);
}
@media (max-width: 855px) {
  .about-us_bg {
    background-image: url(/images/mobil_aboutus.jpg);
  }
}

.page-title {
  font-size: 42px;
  font-size: 2.625rem;
  text-align: left;
  padding-top: 55px;
  padding-left: 83px;
}
@media (max-width: 855px) {
  .page-title {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    line-height: 1;
    font-size: 28px;
    font-size: 1.75rem;
  }
}

.Breadcrumb {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14%;
  background-color: rgba(109, 52, 33, 0.1);
  width: 60%;
  border-radius: 0 20px 20px 0;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 12px;
  font-size: 0.75rem;
  color: #555;
}
@media (max-width: 855px) {
  .Breadcrumb {
    width: 90%;
    font-size: 10px;
    font-size: 0.625rem;
  }
}

.page-cont {
  background-color: rgba(109, 52, 33, 0.2);
  text-align: left;
}
@media (max-width: 855px) {
  .page-cont {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.page-box {
  background-color: #fff;
  max-width: 920px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 64px 80px;
  position: relative;
}
@media (max-width: 855px) {
  .page-box {
    padding: 32px 16px;
  }
}

.page-heading {
  color: #6D3421;
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 55px;
  margin-bottom: 48px;
}
@media (max-width: 855px) {
  .page-heading {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 38px;
  }
}

@media (min-width: 856px) {
  .mobile_br {
    display: none;
  }
}

.about-bug img {
  width: 245px;
  position: absolute;
  top: 16px;
  right: 24px;
}
@media (max-width: 855px) {
  .about-bug img {
    width: 100px;
    top: 29px;
    right: 16px;
  }
}

.page-cont ul li:nth-child(n+2) {
  margin-top: 64px;
}
@media (max-width: 855px) {
  .page-cont ul li:nth-child(n+2) {
    margin-top: 32px;
  }
}

.name {
  margin-top: 48px;
  text-align: right;
}

.greeting img {
  width: 217px;
  position: absolute;
  top: -16px;
  right: 24px;
}
@media (max-width: 855px) {
  .greeting img {
    width: 100px;
    top: 10px;
  }
}

.page-company img {
  width: 168px;
  position: absolute;
  top: 28px;
  right: 76px;
}
@media (max-width: 855px) {
  .page-company img {
    width: 64px;
    top: 28px;
    right: 16px;
  }
}

.company_bg {
  background-image: url(/images/company.jpg);
}
@media (max-width: 855px) {
  .company_bg {
    background-image: url(/images/mobile_company.jpg);
  }
}

.access img {
  width: 156px;
  position: absolute;
  top: 24px;
  right: 76px;
}
@media (max-width: 855px) {
  .access img {
    width: 70px;
    top: 24px;
    right: 16px;
  }
}

.page-company dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.page-company dl dt {
  width: 120px;
  margin-bottom: 16px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 8px;
}
.page-company dl dd {
  width: calc(100% - 120px );
  margin-bottom: 16px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 8px;
}

@media (max-width: 855px) {
  dl dt.address_p {
    padding-bottom: 40px;
  }
}

@media (max-width: 855px) {
  dl dt.content_p {
    padding-bottom: 72px;
  }
}

@media (max-width: 855px) {
  .pc-map {
    display: none;
  }
}

@media (min-width: 856px) {
  .mobile-map {
    display: none;
  }
}

.page-map {
  margin-top: 24px;
}

.service_bg {
  background-image: url(/images/service.jpg);
}
@media (max-width: 855px) {
  .service_bg {
    background-image: url(/images/mobile_service.jpg);
  }
}

@media (min-width: 856px) {
  .service_archive .page-service-item:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media (min-width: 856px) {
  .service_archive .page-service-item:nth-child(even) .service-text {
    left: 0;
  }
}
.service-heading {
  font-size: 24px;
  font-size: 1.5rem;
  color: #6D3421;
  font-weight: bold;
}

.page-service-item {
  position: relative;
  display: flex;
}
@media (max-width: 855px) {
  .page-service-item {
    flex-direction: column-reverse;
  }
}

.page-service_img {
  width: 52%;
}
@media (max-width: 855px) {
  .page-service_img {
    width: 100%;
  }
}

.page-service_img_bg {
  width: 100%;
  height: 363px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
}
@media (max-width: 855px) {
  .page-service_img_bg {
    height: 214px;
    border-radius: 20px 20px 0 0;
  }
}

.page-buy-bike {
  background-image: url(../images/service_bike.jpg);
}

.page-koubou {
  background-image: url(../images/koubou.jpg);
}

.page-zakka {
  background-image: url(../images/zakka.jpg);
}

.page-hurugi {
  background-image: url(../images/hurugi.jpg);
}

.service-text {
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  padding: 24px 40px 32px;
  width: 60%;
  z-index: 10;
  bottom: 0;
  left: 355px;
}
.service-text p {
  margin-bottom: 16px;
}
.service-text button a {
  display: block;
}
@media (max-width: 855px) {
  .service-text {
    position: static;
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
}

.service-inner {
  max-width: 920px;
  margin: 0 auto;
}

.button-block {
  text-align: right;
}

.page-contact_bg {
  background-image: url(/images/contact.jpg);
}
@media (max-width: 855px) {
  .page-contact_bg {
    background-image: url(/images/mobile_contact.jpg);
  }
}

.page-contact_title {
  text-align: center;
}

.Form {
  text-align: left;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media (max-width: 855px) {
  .Form {
    margin-top: 40px;
  }
}

.Form-Item {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 855px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
}
@media (max-width: 855px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media (max-width: 855px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #FBA79E;
  color: #fff;
  font-size: 12px;
}
@media (max-width: 855px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 855px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 855px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Btn {
  text-align: center;
  border-radius: 40px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 3em;
  display: block;
  letter-spacing: 0.05em;
  border: 1px solid #6D3421;
  color: #6D3421;
  font-weight: bold;
  font-size: 12px;
}
.Form-Btn:hover {
  background-color: #6D3421;
  color: #fff;
}
@media (max-width: 855px) {
  .Form-Btn {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

.opacity {
  opacity: 0;
}

/* 送信ボタン */
.submit-btn {
  /* buttonタグのリセットCSS */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #6D3421;
  border: 1px solid #6D3421;
  padding: 8px 24px;
  background-color: #fff;
  cursor: pointer; /* ポインターカーソルを表示 */
}

.submit-btn[disabled] {
  color: #fff;
  background-color: #ccc;
  border: none;
  cursor: not-allowed; /* クリック不可のカーソルを表示 */
}

.privacy-policy {
  text-align: center;
  margin-bottom: 16px;
}

.agree {
  text-align: center;
}

.lether_bg {
  background-image: url(/images/lether.jpg);
}
@media (max-width: 855px) {
  .lether_bg {
    background-image: url(/images/koubou.jpg);
  }
}

.lether img {
  width: 156px;
  position: absolute;
  top: 40px;
  right: 76px;
}
@media (max-width: 855px) {
  .lether img {
    width: 88px;
    top: 12px;
    right: 16px;
  }
}

.price-bord {
  text-align: center;
  margin: 60px auto 0;
}

th {
  background: #6D3421;
  border: solid 1px #ccc;
  color: #fff;
  padding: 10px;
}

td {
  border: solid 1px #ccc;
  padding: 10px;
}

.goods_bg {
  background-image: url(/images/service_zakka.jpg);
}
@media (max-width: 855px) {
  .goods_bg {
    background-image: url(/images/zakka.jpg);
  }
}

.goods img {
  width: 156px;
  position: absolute;
  top: 40px;
  right: 76px;
}
@media (max-width: 855px) {
  .goods img {
    width: 88px;
    top: 42px;
    right: 12px;
  }
}

.blog-archive_bg {
  background-image: url(/images/blog.jpg);
}
@media (max-width: 855px) {
  .blog-archive_bg {
    background-image: url(/images/mobile-buy-bike.jpg);
  }
}

.blog-archive_inner {
  max-width: 920px;
  margin: 0 auto;
}

.blog-archive-padding {
  padding-left: 4%;
  padding-right: 4%;
}

.page-cont ul li:first-child {
  margin-top: 64px;
}
@media (max-width: 855px) {
  .page-cont ul li:first-child {
    margin-top: 32px;
  }
}

.pagenation {
  text-align: center;
}

.blog_bg {
  background-image: url(/images/blog.jpg);
}
@media (max-width: 855px) {
  .blog_bg {
    background-image: url(/images/mobile-buy-bike.jpg);
  }
}

.blog-heading {
  font-weight: bold;
  font-size: 32px;
  font-size: 2rem;
  color: #6D3421;
  line-height: 1.7;
}

.eye-catch {
  margin-top: 32px;
  margin-bottom: 32px;
}

.handmader_bg {
  background-image: url(/images/handmade1.jpg);
}
@media (max-width: 855px) {
  .handmader_bg {
    background-image: url(/images/mobile_handmader.jpg);
  }
}

.handmader img {
  width: 156px;
  position: absolute;
  top: 40px;
  right: 76px;
}
@media (max-width: 855px) {
  .handmader img {
    width: 88px;
    top: 24px;
    right: 0px;
  }
}

.archive_news_bg {
  background-image: url(/images/archive_news.jpg);
}
@media (max-width: 855px) {
  .archive_news_bg {
    background-image: url(/images/mobile_archive_news.jpg);
  }
}

.archive_news li:first-child {
  display: none;
}

.privacy-policy_bg {
  background-image: url(/images/privacy.jpg);
}
@media (max-width: 855px) {
  .privacy-policy_bg {
    background-image: url(/images/mobile_privacy.jpg);
  }
}

.privacy-policy {
  text-align: center;
}
.privacy-policy a {
  color: #1737ab;
}
/*# sourceMappingURL=style.css.map */